/* Body */

body{
	background-color: rgba(20, 20, 20, 1);
	background-image: url("Images/Molecular\ Metallics_4K.png");
	background-repeat:no-repeat;
	background-size: 100%;
	background-position: center;
	background-blend-mode: lighten;
	background-attachment: fixed;
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0;
}

.bodySection{
	background-color:rgba(10, 10, 10, 0.4);
	border-radius: 3px;
	font-size: 25px;
	margin: 5% 5%;
	padding: 5%;
}

/* Header */
header{
	color: white;
	font-size: 25px;
	padding: 0px 0px;
	text-align:left;
}

/*Nav*/
nav {
	align-items: center;
	background-color:rgba(10, 10, 10, 0.4);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px 20px;
}

nav ul li{
	background-color:rgba(255,255,255,0);
	color: white;
	display: inline-block;
	width: 150px;
	text-align: center;
	list-style-type: none;
	padding: 0px 10px;
	vertical-align: middle;
}

.logo{
	background-color: rgba(0,0,0,0);
	background-image: url("Images/Logo.png");
	background-size: 150px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 70px;
	width: 150px;
	position: relative;
	text-decoration: none;
	text-indent: -99999px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	position:relative;
}

nav ul li a::after{
	content:'';
	width:0%;
	height: 3px;
	background: #0081c1;
	position: absolute;
	left:-10%;
	bottom:-20%;
	transition: 0.25s;
}

nav ul li a:hover::after{
	width:120%;
}

header h1{
	display: inline-block;
	font-size:40px;
	margin: 20px 20px;
	padding: 1%;
	text-align: left;
}

/* Header content */
.headerContent{
	margin: 5% 5%;
	border-radius: 3px;
	background-color: rgba(10, 10, 10, 0.4);
}

.frontPageHeaderContent{
	padding: 10% 5% 10% 5%;
}

.headertxt{
	display: inline-block;
	font-size:40px;
	text-decoration: underline;
	padding: 1%;
	text-align: left;
}

.frontpagetxt{
	display: inline-block;
	font-size:30px;
	padding: 1%;
	text-align: left;
}

/* Display*/

.displayItem{
	color: white;
}

.features{ 
	display:flex;
	flex-direction: row;
	background-color:rgba(10, 10, 10, 0.4);
	padding: 0.5%
}

.features figure{
	color: #dbdbdb;
	width: 300px;
	margin: auto;
	text-align: center;
}

.features figure img{
	margin: 10px 0px;
	border-radius: 50%;
	box-shadow: rgb(59, 79, 85) 0px 0px 7px;
	width:300px;
}

/* Footer */
footer{
	background: black;
	color: #999;
	clear: both;
	font-size: 15px;
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.features{
		background-color: red;
	}
}